body
{
background-color:#EBACA2;
}
header
{
background-color:#D46F4D;
}
h1
{
font-family:verdana;
}
img{
width: 280px;
transition: transform .1s;
}
img:hover{
-ms-transform: scale(1.2);
-webkit-transform: scale(1.2);
transform: scale(1.2);
}
h4
{
font-family:verdana;
color:gray;
}
h3
{
font-family:verdana;
}
footer
{
background-color:#D46F4D;
}
